<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--    数据库配置-->
    <!--    数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://rm-bp10ju74719fp6g4emo.mysql.rds.aliyuncs.com:3306/wein?serverTimezone=GMT%2B8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
        <property name="username" value="yiyi1333"/>
        <property name="password" value="zzy@15712651279"/>
    </bean>
    <!--    装配SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!--配置sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能通过构造器注入sqlSessionFactory,因为没有set方法-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--张宇翔配置区-->
    <bean id="enterpriseAgencyImpl" class="cn.edu.zjut.dao.EnterpriseAgencyImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="enterpriseAgencyService" class="cn.edu.zjut.service.EnterpriseAgencyService">
        <property name="enterpriseAgencyImpl" ref="enterpriseAgencyImpl"/>
    </bean>

    <bean id="userAction" class="cn.edu.zjut.action.UserAction" scope="prototype">
        <property name="enterpriseAgencyService" ref="enterpriseAgencyService"/>
        <property name="platformAdministratorService" ref="platformAdministratorService"/>
        <property name="shopManagerService" ref="shopManagerService"/>
    </bean>

    <bean id="enterpriseDepartmentAction" class="cn.edu.zjut.action.EnterpriseDepartmentAction" scope="prototype">
        <property name="enterpriseDepartmentService" ref="enterpriseDepartmentService"/>
        <property name="electronicContractsService" ref="electronicContractsService"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>

    <bean id="logMapper" class="cn.edu.zjut.dao.LogImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="logService" class="cn.edu.zjut.service.LogService">
        <property name="logMapper" ref="logMapper"/>
    </bean>
    <bean id="logAspect" class="cn.edu.zjut.aspect.LogAspect">
        <property name="logService" ref="logService"/>
    </bean>

    <bean id="orderGoodImpl" class="cn.edu.zjut.dao.OrderGoodImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="commentImpl" class="cn.edu.zjut.dao.CommentImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="commentService" class="cn.edu.zjut.service.CommentService">
        <property name="commentMapper" ref="commentImpl"/>
        <property name="commentDao" ref="commentImpl"/>

    </bean>

    <bean id="reviewCommentAction" class="cn.edu.zjut.action.ReviewCommentAction">
        <property name="commentService" ref="commentService"/>

    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="allServiceMethod" expression="execution(* cn.edu.zjut.*.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethod"/>
    </aop:config>
    <!--郑展逸配置区-->
    <!--    广告-->
    <bean id="advertisementImpl" class="cn.edu.zjut.dao.AdvertisementImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="advertisementService" class="cn.edu.zjut.service.AdvertisementService">
        <property name="advertisementdao" ref="advertisementImpl"/>
    </bean>

    <bean id="advertisemnetAction" class="cn.edu.zjut.action.AdvertisementAction">
        <property name="advertisementService" ref="advertisementService"/>
    </bean>

    <bean id="wechatDecryptDataService" class="cn.edu.zjut.service.WechatDecryptDataService"/>

    <bean id="decodeAction" class="cn.edu.zjut.action.DecodeAction">
        <property name="wechatDecryptDataService" ref="wechatDecryptDataService"/>
    </bean>
    <!--    商品-->
    <!--    商品-->
    <bean id="goodsImpl" class="cn.edu.zjut.dao.GoodsImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="goodsService" class="cn.edu.zjut.service.GoodsService">
        <property name="goodsDao" ref="goodsImpl"/>
        <property name="consumerDao" ref="consumerImpl"/>
        <property name="electronicContractsDao" ref="electronicContractsimpl"/>
    </bean>

    <bean id="goodsAction" class="cn.edu.zjut.action.GoodsAction" scope="prototype">
        <property name="goodsService" ref="goodsService"/>
        <property name="wareHouseAddressService" ref="wareHouseAddressService"/>
        <property name="commentService" ref="commentService"/>
    </bean>

    <bean id="enterpriseImpl" class="cn.edu.zjut.dao.EnterpriseImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="enterpriseService" class="cn.edu.zjut.service.EnterpriseService">
        <property name="enterpriseImpl" ref="enterpriseImpl"/>
    </bean>

    <bean id="historyImpl" class="cn.edu.zjut.dao.HistoryImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="historyService" class="cn.edu.zjut.service.HistoryService">
        <property name="histortDao" ref="historyImpl"/>
    </bean>

    <bean id="historyAction" class="cn.edu.zjut.action.HistoryAction">
        <property name="historyService" ref="historyService"/>
    </bean>

    <bean id="collectionImpl" class="cn.edu.zjut.dao.CollectionImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="collectionService" class="cn.edu.zjut.service.CollectionService">
        <property name="collectionDao" ref="collectionImpl"/>
    </bean>

    <bean id="collectionAction" class="cn.edu.zjut.action.CollectionAction">
        <property name="collectionService" ref="collectionService"/>
    </bean>

    <bean id="uploadImageAction" class="cn.edu.zjut.action.UploadImageAction"/>
<!--维权-->
    <bean id="safeGuardingRightsService" class="cn.edu.zjut.service.SafeGuardingRightsService">
        <property name="safeGuardingRightsDao" ref="safeGuardingRightsImpl"/>
        <property name="goodsMapper" ref="goodsImpl"/>
        <property name="orderGoodMapper" ref="orderGoodImpl"/>
        <property name="ordersMapper" ref="ordersImpl"/>
    </bean>
    <bean id="safeGuardingRightsProgressService" class="cn.edu.zjut.service.SafeGuardingRightsProgressService">
        <property name="safeGuardingRightsProgressDao" ref="safeGuardingRightsProgressImpl"/>
    </bean>

    <bean id="safeGuardingRightsAction" class="cn.edu.zjut.action.SafeGuardingRightsAction">
        <property name="safeGuardingRightsService" ref="safeGuardingRightsService"/>
        <property name="orderStatusService" ref="orderStatusService"/>
        <property name="goodsService" ref="goodsService"/>
        <property name="ordersService" ref="ordersService"/>
        <property name="safeGuardingRightsProgressService" ref="safeGuardingRightsProgressService"/>
    </bean>
<!--    评论-->
    <bean id="commentImpl" class="cn.edu.zjut.dao.CommentImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="commentService" class="cn.edu.zjut.service.CommentService">
        <property name="commentDao" ref="commentImpl"/>
    </bean>

    <bean id="commentAction" class="cn.edu.zjut.action.CommentAction">
        <property name="commentService" ref="commentService"/>
    </bean>
    <!--余秋霞配置区-->

    <bean id="cartDao" class="cn.edu.zjut.dao.CartImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="cartService" class="cn.edu.zjut.service.CartService">
        <property name="cartDao" ref="cartDao"/>
        <property name="goodsDao" ref="goodsImpl"/>
    </bean>

    <bean id="cartAction" class="cn.edu.zjut.action.CartAction">
        <property name="cartService" ref="cartService"/>
    </bean>
    <!--余秋霞配置区-->
    <bean id="shopManagerImpl" class="cn.edu.zjut.dao.ShopManagerImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="shopManagerService" class="cn.edu.zjut.service.ShopManagerService">
        <property name="shopManagerImpl" ref="shopManagerImpl"/>
    </bean>

    <bean id="platformAdministratorImpl" class="cn.edu.zjut.dao.PlatformAdministratorImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="platformAdministratorService" class="cn.edu.zjut.service.PlatformAdministratorService">
        <property name="platformAdministratorImpl" ref="platformAdministratorImpl"/>
    </bean>

    <bean id="registerShopmanagerAndEnterpriseagencyService"
          class="cn.edu.zjut.service.RegisterShopmanagerAndEnterpriseagencyService" scope="prototype">
        <property name="enterpriseAgencyimpl" ref="enterpriseAgencyImpl"/>
        <property name="shopManagerimpl" ref="shopManagerImpl"/>
        <property name="enterpriseDepartmentimpl" ref="enterpriseDepartmentImpl"/>
    </bean>

    <bean id="registerShopmanagerAndEnterpriseagencyAction"
          class="cn.edu.zjut.action.registerShopmanagerAndEnterpriseagencyAction" scope="prototype">
        <property name="registerShopmanagerAndEnterpriseagencyService"
                  ref="registerShopmanagerAndEnterpriseagencyService"/>
    </bean>
    <!--电子合同接口-->
    <bean id="electronicContractsimpl" class="cn.edu.zjut.dao.ElectronicContractsImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <!--电子合同service-->
    <bean id="electronicContractsService" class="cn.edu.zjut.service.ElectronicContractsService">
        <property name="electronicContractsimpl" ref="electronicContractsimpl"/>
        <property name="enterpriseImpl" ref="enterpriseImpl"/>
        <property name="goodsImpl" ref="goodsImpl"/>
        <property name="enterpriseDepartmentImpl" ref="enterpriseDepartmentImpl"/>
    </bean>

    <!--电子合同action-->
    <bean id="enterpriseagencyAction" class="cn.edu.zjut.action.ElectronicContractsAction" scope="prototype">
        <property name="electronicContractsService" ref="electronicContractsService"/>
        <!--先查询到本企业结构-->
        <property name="registerShopmanagerAndEnterpriseagencyService"
                  ref="registerShopmanagerAndEnterpriseagencyService"/>
    </bean>

    <!--王怡欣配置区-->
    <bean id="consumerImpl" class="cn.edu.zjut.dao.ConsumerImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="safeGuardingRightsImpl" class="cn.edu.zjut.dao.SafeGuardingRightsImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="safeGuardingRightsProgressImpl" class="cn.edu.zjut.dao.SafeGuardingRightsProgressImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="orderStatusImpl" class="cn.edu.zjut.dao.OrderStatusImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="consumerService" class="cn.edu.zjut.service.ConsumerService">
        <property name="consumerdao" ref="consumerImpl"/>
    </bean>
    <bean id="orderStatusService" class="cn.edu.zjut.service.OrderStatusService">
        <property name="orderStatusDao" ref="orderStatusImpl"/>
    </bean>
    <bean id="drawBackImpl" class="cn.edu.zjut.dao.DrawBackImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="orderStatusAction" class="cn.edu.zjut.action.OrderStatusAction" scope="prototype">
        <property name="orderStatusService" ref="orderStatusService"/>
    </bean>
    <bean id="drawBackService" class="cn.edu.zjut.service.DrawBackService">
        <property name="drawBackDao" ref="drawBackImpl"/>
    </bean>

    <bean id="consumerAction" class="cn.edu.zjut.action.ConsumerAction">
        <property name="consumerService" ref="consumerService"/>
        <!--企业认证需要-->
        <property name="enterpriseDepartmentService" ref="enterpriseDepartmentService"/>
    </bean>

    <bean id="enterpriseDepartmentImpl" class="cn.edu.zjut.dao.EnterpriseDepartmentImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="enterpriseDepartmentService" class="cn.edu.zjut.service.EnterpriseDepartmentService">
        <property name="enterpriseDepartmentMapper" ref="enterpriseDepartmentImpl"/>
        <property name="enterpriseImpl" ref="enterpriseImpl"/>
    </bean>

    <!--王淑媚配置区-->
    <bean id="ordersImpl" class="cn.edu.zjut.dao.OrdersImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="ordersService" class="cn.edu.zjut.service.OrdersService">
        <property name="ordersDao" ref="ordersImpl"/>
        <property name="goodsDao" ref="goodsImpl"/>
        <property name="ordersMapper" ref="ordersImpl"/>
        <property name="orderGoodMapper" ref="orderGoodImpl"/>
        <property name="goodsService" ref="goodsService"/>
        <property name="wareHouseAddressMapper" ref="wareHouseAddressImpl"/>
        <property name="orderStatusMapper" ref="orderStatusImpl"/>
    </bean>

    <bean id="ordersAction" class="cn.edu.zjut.action.OrdersAction" scope="prototype">
        <property name="ordersService" ref="ordersService"/>
        <property name="goodsService" ref="goodsService"/>
        <property name="shopManagerService" ref="shopManagerService"/>
    </bean>

    <bean id="wareHouseAddressImpl" class="cn.edu.zjut.dao.WareHouseAddressImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="wareHouseAddressService" class="cn.edu.zjut.service.WareHouseAddressService">
        <property name="wareHouseAddressDao" ref="wareHouseAddressImpl"/>
    </bean>

    <bean id="wareHouseAddressAction" class="cn.edu.zjut.action.WareHouseAddressAction" scope="prototype">
        <property name="wareHouseAddressService" ref="wareHouseAddressService"/>
    </bean>
</beans>