<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    数据库配置-->
    <!--    数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://rm-bp10ju74719fp6g4emo.mysql.rds.aliyuncs.com:3306/wein?serverTimezone=GMT%2B8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
        <property name="username" value="yiyi1333"/>
        <property name="password" value="zzy@15712651279"/>
    </bean>
    <!--    装配SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!--配置sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能通过构造器注入sqlSessionFactory,因为没有set方法-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

<!--张宇翔配置区-->
    <bean id="enterpriseAgencyImpl" class="cn.edu.zjut.dao.EnterpriseAgencyImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="enterpriseAgencyService" class="cn.edu.zjut.service.EnterpriseAgencyService">
        <property name="enterpriseAgencyImpl" ref="enterpriseAgencyImpl"/>
    </bean>

    <bean id="userAction" class="cn.edu.zjut.action.UserAction" scope="prototype">
        <property name="enterpriseAgencyService" ref="enterpriseAgencyService" />
        <property name="platformAdministratorService" ref="platformAdministratorService" />
        <property name="shopManagerService" ref="shopManagerService" />
    </bean>

<!--郑展逸配置区-->
<!--    广告-->
    <bean id="advertisementImpl" class="cn.edu.zjut.dao.AdvertisementImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="advertisementService" class="cn.edu.zjut.service.AdvertisementService">
        <property name="advertisementdao" ref="advertisementImpl"/>
    </bean>

    <bean id="advertisemnetAction" class="cn.edu.zjut.action.AdvertisementAction">
        <property name="advertisementService" ref="advertisementService"/>
    </bean>

    <bean id="wechatDecryptDataService" class="cn.edu.zjut.service.WechatDecryptDataService"/>

    <bean id="decodeAction" class="cn.edu.zjut.action.DecodeAction">
        <property name="wechatDecryptDataService" ref="wechatDecryptDataService"/>
    </bean>
<!--    商品-->
    <bean id="goodsImpl" class="cn.edu.zjut.dao.GoodsImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="goodsService" class="cn.edu.zjut.service.GoodsService">
        <property name="goodsDao" ref="goodsImpl"/>
    </bean>

    <bean id="goodsAction" class="cn.edu.zjut.action.GoodsAction" scope="prototype">
        <property name="goodsService" ref="goodsService"/>
    </bean>

    <bean id="cartDao" class="cn.edu.zjut.dao.CartImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="cartService" class="cn.edu.zjut.service.CartService">
        <property name="cartDao" ref="cartDao"/>
    </bean>

    <bean id="cartAction" class="cn.edu.zjut.action.CartAction">
        <property name="cartService" ref="cartService"/>
    </bean>
<!--余秋霞配置区-->
    <bean id="shopManagerImpl" class="cn.edu.zjut.dao.ShopManagerImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="shopManagerService" class="cn.edu.zjut.service.ShopManagerService">
        <property name="shopManagerImpl" ref="shopManagerImpl"/>
    </bean>

    <bean id="platformAdministratorImpl" class="cn.edu.zjut.dao.PlatformAdministratorImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="platformAdministratorService" class="cn.edu.zjut.service.PlatformAdministratorService">
        <property name="platformAdministratorImpl" ref="platformAdministratorImpl"/>
    </bean>

    <bean id="registerShopmanagerAndEnterpriseagencyService" class="cn.edu.zjut.service.RegisterShopmanagerAndEnterpriseagencyService" scope="prototype">
        <property name="enterpriseAgencyimpl" ref="enterpriseAgencyImpl"/>
        <property name="shopManagerimpl" ref="shopManagerImpl"/>
    </bean>

    <bean id="registerShopmanagerAndEnterpriseagencyAction" class="cn.edu.zjut.action.registerShopmanagerAndEnterpriseagencyAction" scope="prototype">
        <property name="registerShopmanagerAndEnterpriseagencyService" ref="registerShopmanagerAndEnterpriseagencyService"></property>
    </bean>
<!--王怡欣配置区-->
    <bean id="consumerImpl" class="cn.edu.zjut.dao.ConsumerImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="consumerService" class="cn.edu.zjut.service.ConsumerService">
        <property name="consumerdao" ref="consumerImpl"/>
    </bean>

    <bean id="consumerAction" class="cn.edu.zjut.action.ConsumerAction">
        <property name="consumerService" ref="consumerService"/>
    </bean>

    <bean id="enterpriseDepartmentImpl" class="cn.edu.zjut.dao.EnterpriseDepartmentImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="enterpriseUserService" class="cn.edu.zjut.service.EnterpriseDepartmentService">
        <property name="enterpriseDepartmentdao" ref="enterpriseDepartmentImpl"/>
    </bean>

    <bean id="enterpriseDepartmentAction" class="cn.edu.zjut.action.EnterpriseDepartmentAction">
        <property name="enterpriseUserService" ref="enterpriseUserService"/>
    </bean>
<!--王淑媚配置区-->
    <bean id="ordersImpl" class="cn.edu.zjut.dao.OrdersImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="ordersService" class="cn.edu.zjut.service.OrdersService">
        <property name="ordersDao" ref="ordersImpl"/>
    </bean>

    <bean id="ordersAction" class="cn.edu.zjut.action.OrdersAction" scope="prototype">
        <property name="ordersService" ref="ordersService"/>
    </bean>

    <bean id="wareHouseAddressImpl" class="cn.edu.zjut.dao.WareHouseAddressImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="wareHouseAddressService" class="cn.edu.zjut.service.WareHouseAddressService">
        <property name="wareHouseAddressDao" ref="wareHouseAddressImpl"/>
    </bean>

    <bean id="wareHouseAddressAction" class="cn.edu.zjut.action.WareHouseAddressAction" scope="prototype">
        <property name="wareHouseAddressService" ref="wareHouseAddressService"/>
    </bean>
</beans>