<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    <settings>-->
    <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--    </settings>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="url"-->
                <!--                          value="jdbc:mysql://rm-bp10ju74719fp6g4emo.mysql.rds.aliyuncs.com:3306/wein?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>-->
                <!--                <property name="username" value="yiyi1333"/>-->
                <!--                <property name="password" value="zzy@15712651279"/><property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://rm-bp10ju74719fp6g4emo.mysql.rds.aliyuncs.com:3306/wein?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="yiyi1333"/>
                <property name="password" value="zzy@15712651279"/>
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="url"-->
                <!--                          value="jdbc:mysql://localhost:3306/wein?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>-->
                <!--                <property name="username" value="root"/>-->
                <!--                <property name="password" value="20011122"/>-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/edu/zjut/dao/EnterpriseAgencyMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/AdvertisementMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/PlatformAdministratorMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/ShopManagerMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/GoodsMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/OrdersMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/WareHouseAddressMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/ConsumerMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/EnterpriseDepartmentMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/EnterpriseMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/CartMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/ElectronicContractsMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/OrderGoodMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/LogMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/HistoryMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/CollectionMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/SafeGuardingRightsMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/CommentMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/OrderStatusMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/safeGuardingRightsMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/safeGuardingRightsProgressMapper.xml"/>
        <mapper resource="cn/edu/zjut/dao/DrawBackMapper.xml"/>
    </mappers>
</configuration>