<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.AdvertisementMapper">

    <resultMap id="AdvertisementMap" type="cn.edu.zjut.po.Advertisement">
        <result property="advertisementId" column="advertisementId"/>
        <result property="advertisementUrl" column="advertisementUrl"/>
        <result property="advertisementPictureUrl" column="advertisementPictureUrl"/>
        <result property="beginTime" column="beginTime"/>
        <result property="endTime" column="endTime"/>
    </resultMap>
    <select id="getAdvertisement" resultMap="AdvertisementMap">
        select *
        from advertisement
    </select>
</mapper>