<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.CommentMapper">
    <insert id="addComment">
        insert into comment
        set consumerId = #{consumerId},
        goodsId = #{goodsId},
        message = #{message},
        rate = #{rate},
        image = #{image},
        state = #{state},
        orderId = #{orderId}
    </insert>
</mapper>