<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ConsumerMapper">

    <resultMap id="ConsumerResultMap" type="cn.edu.zjut.po.Consumer">
        <id property="consumerId" column="consumerId"/>
        <result property="idCardNumber" column="idCardNumber"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="avatarUrl" column="avatarUrl"/>
        <result property="enterpriseDepartmentNumber" column="enterpriseDepartmentNumber"/>
        <result property="nickName" column="nickName"/>
        <result property="certification" column="certification"/>
    </resultMap>

    <resultMap id="EnterpriseConsumer" type="cn.edu.zjut.po.EnterpriseConsumer">
        <association property="consumer" javaType="cn.edu.zjut.po.Consumer">
            <result property="consumerId" column="consumerId"/>
            <result property="idCardNumber" column="idCardNumber"/>
            <result property="name" column="name"/>
            <result property="phoneNumber" column="phoneNumber"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="avatarUrl" column="avatarUrl"/>
            <result property="enterpriseDepartmentNumber" column="enterpriseDepartmentNumber"/>
            <result property="nickName" column="nickName"/>
            <result property="certification" column="certification"/>
        </association>
        <association property="enterpriseDepartment" javaType="cn.edu.zjut.po.EnterpriseDepartment">
            <result property="enterpriseDepartmentName" column="enterpriseDepartmentName"/>
            <result property="enterpriseDepartmentId" column="enterpriseDepartmentId"/>
            <result property="enterpriseDepartmentpre" column="enterpriseDepartmentpre"/>
            <result property="enterpriseId" column="enterpriseId"/>
        </association>
        <association property="enterprise" javaType="cn.edu.zjut.po.Enterprise">
            <result property="enterpriseId" column="enterpriseId"/>
            <result property="enterpriseName" column="enterpriseName"/>
        </association>
    </resultMap>

    <select id="getAllConsumer" resultMap="ConsumerResultMap">
        select * from WeIn.consumer;
    </select>



    <insert id="addConsumer" parameterType="cn.edu.zjut.po.Consumer">
        insert into WeIn.consumer(idCardNumber,name,phoneNumber,password,email,enterpriseDepartmentNumber) values(#{idCardNumber},#{name},#{phoneNumber},#{password},#{email},#{enterpriseDepartmentNumber});
    </insert>
<!--用户检索-->
    <select id="searchUser" parameterType="java.lang.String" resultMap="ConsumerResultMap">
        select *
        from consumer
        where phoneNumber = #{phoneNumber};
    </select>
<!--    完整企业用户信息检索-->
    <select id="searchEnterpriseConsumer" parameterType="java.lang.String" resultMap="EnterpriseConsumer">
        select *
        from consumer, enterprisedepartment, enterprise
        where consumer.enterpriseDepartmentNumber = enterprisedepartment.enterpriseDepartmentId
        and enterprisedepartment.enterpriseId = enterprise.enterpriseId
        and consumer.phoneNumber = #{phoneNumber};
    </select>
<!--    更新授权数据-->
    <update id="updateWxInfo" parameterType="java.lang.String">
        update consumer
        set nickName = #{nickName}, avatarUrl = #{avatarUrl}
        where phoneNumber = #{phoneNumber};
    </update>
<!--    用id检索企业用户-->
    <select id="searchEnterpriseConsumerById" parameterType="java.lang.Integer" resultMap="EnterpriseConsumer">
        select *
        from consumer, enterprisedepartment, enterprise
        where consumer.enterpriseDepartmentNumber = enterprisedepartment.enterpriseDepartmentId
        and enterprisedepartment.enterpriseId = enterprise.enterpriseId
        and consumer.consumerId = #{consumerId};
    </select>
<!--    修改实名数据-->
    <update id="modfiyCertificationInfo">
        update consumer
        set consumer.name = #{realName}, consumer.idCardNumber = #{idNumber}, consumer.certification = 1
        where consumer.consumerId = #{consumerId}
    </update>
</mapper>
