<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ConsumerMapper">

    <resultMap id="ConsumerResultMap" type="cn.edu.zjut.po.Consumer">
        <result property="consumerId" column="consumerId"/>
        <result property="idCardNumber" column="idCardNumber"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="enterpriseDepartmentNumber" column="enterpriseDepartmentNumber"/>
    </resultMap>

    <select id="getAllConsumer" resultMap="ConsumerResultMap">
        select * from WeIn.consumer;
    </select>

    <insert id="addConsumer" parameterType="cn.edu.zjut.po.Consumer">
        insert into WeIn.consumer(idCardNumber,name,phoneNumber,password,email,enterpriseDepartmentNumber) values(#{idCardNumber},#{name},#{phoneNumber},#{password},#{email},#{enterpriseDepartmentNumber});
    </insert>


</mapper>
