<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ElectronicContractsMapper">

    <resultMap id="ElectronicContractsResultMap" type="cn.edu.zjut.po.ElectronicContracts">
        <result property="electronicContractsId" column="electronicContractsId"/>
        <result property="enterpriseAgencyId" column="enterpriseAgencyId"/>
        <result property="enterpriseId" column="enterpriseId"/>
        <result property="shopmanagerId" column="shopmanagerId"/>
        <result property="shopId" column="shopId"/>
        <result property="starttime" column="starttime"/>
        <result property="endtime" column="endtime"/>
        <result property="goodsId" column="goodsId"/>
        <result property="enterpriseDepartmentId" column="enterpriseDepartmentId"/>
        <result property="discount" column="discount"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="queryElectronicContracts" resultMap="ElectronicContractsResultMap">
        select * from electroniccontracts
    </select>


    <select id="queryElectronicContractsByEnterpriseId" resultMap="ElectronicContractsResultMap">
        select * from electroniccontracts where enterpriseId = #{0};
    </select>

    <insert id="addElectronicContracts" parameterType="cn.edu.zjut.po.ElectronicContracts" useGeneratedKeys="true"
            keyProperty="electronicContractsId">
        insert into electroniccontracts(state, enterpriseId,enterpriseAgencyId,starttime,endtime,goodsId,shopId,
        enterpriseDepartmentId, discount)
        values (#{state} ,#{enterpriseId}
        ,#{enterpriseAgencyId}
        ,#{starttime} ,#{endtime} ,#{goodsId}
        ,#{shopId} ,#{enterpriseDepartmentId} ,#{discount})
    </insert>

    <update id="disableContracts">
        update electroniccontracts set state = 2 where electronicContractsId = #{0};
    </update>

    <select id="queryElectronicContractsByEnterpriseAgencyId" resultMap="ElectronicContractsResultMap">
        select * from electroniccontracts where enterpriseAgencyId = #{0} and state = 0;
    </select>

    <update id="changeStateElectronicContracts">
        update electroniccontracts set state = 1 where enterpriseAgencyId = #{0} and state = 0;
    </update>

    <update id="changeStateElectronicContracts2">
        update electroniccontracts set state = 10 where shopId = #{0} and state = 1;
    </update>
    <select id="queryElectronicContractsByShopId" resultMap="ElectronicContractsResultMap">
        select * from electroniccontracts where shopId = #{0} and state = 1;
    </select>

    <select id="queryElectronicContractsByGoodsIdAndDepartmentId" resultMap="ElectronicContractsResultMap">
        select *
        from electroniccontracts
        where goodsId = #{goodsId} and enterpriseDepartmentId= #{deparatmentId} and starttime &lt; #{now} and endtime
        &gt; #{now} and discount &lt; any(
        select discount
        from electroniccontracts
        where goodsId = #{goodsId} and enterpriseDepartmentId= #{deparatmentId}
        )
    </select>

    <select id="queryElectronicContractsLike" resultMap="ElectronicContractsResultMap"
            parameterType="cn.edu.zjut.po.ElectronicContracts">
        select *
        from electroniccontracts
        where electronicContractsId in (
        select electronicContractsId from WeIn.electroniccontracts
        <where>
            <if test="electronicContractsId != null and electronicContractsId != 0 ">or electronicContractsId
                = #{electronicContractsId}
            </if>
            <if test="enterpriseAgencyId != null and enterpriseAgencyId != 0 ">or enterpriseAgencyId
                =#{enterpriseAgencyId}
            </if>
            <if test="shopmanagerId != null and shopmanagerId != 0 ">or shopmanagerId
                = #{shopmanagerId}
            </if>
            <if test="goodsId != null and goodsId != 0 ">or goodsId
                = #{goodsId}
            </if>
            <if test="enterpriseDepartmentId != null and enterpriseDepartmentId != 0 ">or enterpriseDepartmentId
                = #{enterpriseDepartmentId}
            </if>
            <if test="discount != null and discount != 0.0">or discount =
                #{discount}
            </if>

        </where>
        )
        and enterpriseId = #{enterpriseId};
    </select>


    <select id="queryElectronicContractsByGoodsIdDepartmentId" resultMap="ElectronicContractsResultMap">
        select *
        from electroniccontracts
        where goodsId = #{goodsId} and  enterpriseDepartmentId = #{deparatmentId} and state != 2;
    </select>
</mapper>
