<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ElectronicContractsMapper">

    <resultMap id="ElectronicContractsResultMap" type="cn.edu.zjut.po.ElectronicContracts">
        <result property="electronicContractsId" column="electronicContractsId"/>
        <result property="enterpriseAgencyId" column="enterpriseAgencyId"/>
        <result property="enterpriseId" column="enterpriseId"/>
        <result property="shopmanagerId" column="shopmanagerId"/>
        <result property="shopId" column="shopId"/>
        <result property="starttime" column="starttime"/>
        <result property="endtime" column="endtime"/>
        <result property="goodsId" column="goodsId"/>
        <result property="enterpriseDepartmentId" column="enterpriseDepartmentId"/>
        <result property="discount" column="discount"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="queryElectronicContracts" resultMap="ElectronicContractsResultMap">
        select * from electroniccontracts
    </select>

    <insert id="addElectronicContracts" parameterType="cn.edu.zjut.po.ElectronicContracts" useGeneratedKeys="true" keyProperty="electronicContractsId">
        insert into electroniccontracts(state, enterpriseId,enterpriseAgencyId,starttime,endtime,goodsId,shopId,
        enterpriseDepartmentId, discount)
        values (#{state} ,#{enterpriseId}
        ,#{enterpriseAgencyId}
        ,#{starttime} ,#{endtime} ,#{goodsId}
        ,#{shopId} ,#{enterpriseDepartmentId} ,#{discount})
    </insert>

</mapper>
