<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.EnterpriseDepartmentMapper">

    <resultMap id="EnterpriseUserResultMap" type="cn.edu.zjut.po.EnterpriseUser">
        <result property="enterpriseDepartmentName" column="enterpriseDepartmentName"/>
        <result property="enterpriseDepartmentId" column="enterpriseDepartmentId"/>
        <result property="name" column="name"/>
        <result property="consumerId" column="consumerId"/>
    </resultMap>

    <select id="getAllEnterpriseUser" resultMap="EnterpriseUserResultMap">
        select enterpriseDepartmentName,enterpriseDepartmentId,name,consumerId from WeIn.consumer,WeIn.enterprisedepartment where enterpriseDepartmentNumber=enterpriseDepartmentId;
    </select>

    <resultMap id="EnterpriseDepartmentResultMap" type="cn.edu.zjut.po.EnterpriseDepartment">
        <result property="enterpriseDepartmentName" column="enterpriseDepartmentName"/>
        <result property="enterpriseDepartmentId" column="enterpriseDepartmentId"/>
        <result property="enterpriseDepartmentpre" column="enterpriseDepartmentpre"/>
        <result property="enterpriseId" column="enterpriseId"/>
    </resultMap>

    <select id="getAllEnterpriseDepartment" resultMap="EnterpriseDepartmentResultMap">
        select * from WeIn.enterprisedepartment;
    </select>

    <insert id="addEnterpriseDepartment" parameterType="cn.edu.zjut.po.EnterpriseDepartment">
        insert into WeIn.enterpriseDepartment(enterpriseDepartmentName,enterpriseDepartmentpre,enterpriseId) values(#{enterpriseDepartmentName},#{enterpriseDepartmentpre},#{enterpriseId});
    </insert>

</mapper>
