<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.EnterpriseAgencyMapper">

    <resultMap id="EnterpriseAgencyResultMap" type="cn.edu.zjut.po.EnterpriseAgency">
        <result property="enterpriseAgencyId" column="enterpriseAgencyId"/>
        <result property="enterpriseAgencyAccount" column="enterpriseAgencyAccount"/>
        <result property="enterpriseAgencyPassword" column="enterpriseAgencyPassword"/>
        <result property="enterpriseAgencyRight" column="enterpriseAgencyRight"/>
        <result property="enterpriseAgencyName" column="enterpriseAgencyName"/>
        <result property="idCardNumber" column="idCardNumber"/>
        <result property="enterpriseId" column="enterpriseId"/>
    </resultMap>

    <select id="getAllEnterpriseAgency" resultMap="EnterpriseAgencyResultMap">
        select * from enterpriseagency;
    </select>
    <!--enterpriseAgencyId自增-->
    <insert id="addEnterpriseAgency" parameterType="cn.edu.zjut.po.EnterpriseAgency" useGeneratedKeys="true" keyProperty="enterpriseAgencyId">
        insert into enterpriseagency(enterpriseAgencyAccount, enterpriseAgencyPassword, enterpriseAgencyRight, enterpriseAgencyName, idCardNumber, enterpriseId)
        values (#{enterpriseAgencyAccount}, #{enterpriseAgencyPassword}, #{enterpriseAgencyRight}, #{enterpriseAgencyName}, #{idCardNumber}, #{enterpriseId})
    </insert>
</mapper>
