<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.GoodsMapper">

    <resultMap id="GoodsResultMap" type="cn.edu.zjut.po.Goods">
        <result property="goodsId" column="goodsId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="goodprice" column="goodprice"/>
        <result property="goodsDetails" column="goodsDetails"/>
        <result property="goodsStock" column="goodsStock"/>
        <result property="shopId" column="shopId"/>
        <result property="tags" column="tags"/>
        <result property="goodsImage" column="goodsImage"/>
    </resultMap>

    <select id="getAllGoods" resultMap="GoodsResultMap">
        select * from WeIn.goods;
    </select>
</mapper>
