<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.GoodsMapper">

    <resultMap id="GoodsMap" type="cn.edu.zjut.po.Goods">
        <result property="goodsId" column="goodsId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="goodsPrice" column="goodPrice"/>
        <result property="goodsDetails" column="goodsDetails"/>
        <result property="goodsStock" column="goodsStock"/>
        <result property="tags" column="tags"/>
        <result property="goodsImage" column="goodsImage"/>
        <association property="shop" javaType="cn.edu.zjut.po.Shop">
            <result property="shopId" column="shop.shopId"/>
            <result property="shopName" column="shopName"/>
            <result property="shopDescription" column="shopDescription"/>
            <association property="enterprise" javaType="cn.edu.zjut.po.Enterprise">
                <result property="enterpriseId" column="enterprise.enterpriseId"/>
                <result property="enterpriseName" column="enterpriseName"/>
            </association>
        </association>
    </resultMap>
    <select id="searchGoodsByKeyWord" resultMap="GoodsMap" parameterType="java.lang.String">
        select goods.*, shop.*, enterprise.*
        from goods, shop, enterprise
        where goods.shopId = shop.shopId and shop.enterpriseId = enterprise.enterpriseId and (goods.tags like '%${keyword}%' or goods.goodsName like '%${keyword}%');
    </select>
    <resultMap id="GoodsResultMap" type="cn.edu.zjut.po.Goods">
        <result property="goodsId" column="goodsId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="goodprice" column="goodprice"/>
        <result property="goodsDetails" column="goodsDetails"/>
        <result property="goodsStock" column="goodsStock"/>
        <result property="shopId" column="shopId"/>
        <result property="tags" column="tags"/>
        <result property="goodsImage" column="goodsImage"/>
    </resultMap>

    <select id="getAllGoods" resultMap="GoodsResultMap">
        select * from WeIn.goods;
    </select>
</mapper>
