<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.OrderGoodMapper">
    <resultMap id="OrderGoodResultMap" type="cn.edu.zjut.po.OrderGood">
        <id property="orderId" column="orderId"/>
        <id property="goodId" column="goodId"/>
        <result property="num" column="num"/>

    </resultMap>
    <resultMap id="OrderGoodResultMap1" type="cn.edu.zjut.po.OrderGood">
        <id property="orderId" column="orderId"/>
        <id property="goodId" column="goodId"/>
        <result property="num" column="num"/>
        <result property="singlePieceActualPrice" column="singlePieceActualPrice"/>
    </resultMap>
    <insert id="addOrderGood" parameterType="cn.edu.zjut.po.OrderGood">
        insert into wein.ordergood
        values(
        #{orderId},
        #{goodId},
        #{num},
        #{singlePieceActualPrice}
        );
    </insert>

    <select id="getGoodsById" resultMap="OrderGoodResultMap" parameterType="java.lang.Integer">
        select * from WeIn.ordergood where orderId=#{orderId};
    </select>

    <select id="selectOrderGood" resultMap="OrderGoodResultMap1" parameterType="cn.edu.zjut.po.OrderGood">
        select * from WeIn.ordergood where orderId=#{orderId} and goodId=#{goodId};
    </select>
</mapper>
