<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.PlatformAdministratorMapper">

    <resultMap id="PlatformAdministratorResultMap" type="cn.edu.zjut.po.PlatformAdministrator">
        <result property="adminId" column="adminId"/>
        <result property="adminAccount" column="adminAccount"/>
        <result property="adminPassword" column="adminPassword"/>
        <result property="adminName" column="adminName"/>
        <result property="idCardNumber" column="idCardNumber"/>
    </resultMap>

    <select id="getAllPlatformAdministrator" resultMap="PlatformAdministratorResultMap">
        select * from WeIn.platformadministrator;
    </select>


    <select id="getPlatformAdministratorByAccount" resultMap="PlatformAdministratorResultMap">
        select * from WeIn.platformadministrator where adminAccount = #{0};
    </select>
</mapper>
