<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.SafeGuardingRightsMapper">
    <resultMap id="safeGuardingRightsResultMap" type="cn.edu.zjut.po.SafeGuardingRights">
        <id property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        <result property="orderId" column="orderId"/>
        <result property="goodId" column="goodId"/>
        <result property="safeGuardingRightsDetails" column="safeGuardingRightsDetails"/>
        <result property="safeGuardingRightsImage" column="safeGuardingRightsImage"/>
        <result property="safeGuardingRightsProgress" column="safeGuardingRightsProgress"/>
        <result property="safeGuardingRightsType" column="safeGuardingRightsType"/>
        <result property="safeGuardingRightsNum" column="safeGuardingRightsNum"/>
        <collection property="safeGuardingRightsProgresslist" javaType="ArrayList"
                    column="safeGuardingRightsId" ofType="cn.edu.zjut.po.SafeGuardingRightsProgress"
                    select="cn.edu.zjut.dao.SafeGuardingRightsProgressMapper.getsafeGuardingRightsProgressById"
                    fetchType="lazy">
            <id property="safeGuardingRightsProgressId" column="safeGuardingRightsProgressId"/>
            <result property="safeGuardingRightsProgressStatus" column="safeGuardingRightsProgressStatus"/>
            <result property="safeGuardingRightsProgressTime" column="safeGuardingRightsProgressTime"/>
            <result property="safeGuardingRightsProgressDate" column="safeGuardingRightsProgressDate"/>
            <result property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        </collection>
    </resultMap>
    <resultMap id="safeGuardingRightsResultMap1" type="cn.edu.zjut.po.SafeGuardingRights">
        <id property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        <result property="orderId" column="orderId"/>
        <result property="goodId" column="goodId"/>
        <result property="safeGuardingRightsDetails" column="safeGuardingRightsDetails"/>
        <result property="safeGuardingRightsImage" column="safeGuardingRightsImage"/>
        <result property="safeGuardingRightsProgress" column="safeGuardingRightsProgress"/>
        <result property="safeGuardingRightsType" column="safeGuardingRightsType"/>
        <result property="safeGuardingRightsNum" column="safeGuardingRightsNum"/>
    </resultMap>
    <resultMap id="safeGuardingRightsProgressResult" type="cn.edu.zjut.po.SafeGuardingRightsProgress">
        <id property="safeGuardingRightsProgressId" column="safeGuardingRightsProgressId"/>
        <result property="safeGuardingRightsProgressStatus" column="safeGuardingRightsProgressStatus"/>
        <result property="safeGuardingRightsProgressTime" column="safeGuardingRightsProgressTime"/>
        <result property="safeGuardingRightsProgressDate" column="safeGuardingRightsProgressDate"/>
        <result property="safeGuardingRightsId" column="safeGuardingRightsId"/>
    </resultMap>

    <resultMap id="SafeGuardingRightsMap" type="cn.edu.zjut.po.SafeGuardingRights">
        <id property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        <result property="orderId" column="orderId"/>
        <result property="goodId" column="goodId"/>
        <result property="safeGuardingRightsDetails" column="safeGuardingRightsDetails"/>
        <result property="safeGuardingRightsImage" column="safeGuardingRightsImage"/>
        <result property="safeGuardingRightsType" column="safeGuardingRightsType"/>
        <result property="safeGuardingRightsNum" column="safeGuardingRightsNum"/>
        <result property="safeGuardingRightsProgress" column="safeGuardingRightsProgress"/>
    </resultMap>

    <resultMap id="ShowSafeGuardingRightsMap" type="cn.edu.zjut.po.ShowSafeGuardingRights">
        <id property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        <result property="safeGuardingRightsDetails" column="safeGuardingRightsDetails"/>
        <result property="safeGuardingRightsImage" column="safeGuardingRightsImage"/>
        <result property="safeGuardingRightsType" column="safeGuardingRightsType"/>
        <result property="safeGuardingRightsNum" column="safeGuardingRightsNum"/>
        <result property="safeGuardingRightsProgress" column="safeGuardingRightsProgress"/>
        <association property="goods"  javaType="cn.edu.zjut.po.Goods">
            <result property="goodsId" column="goodsId"/>
            <result property="goodsName" column="goodsName"/>
            <result property="goodsPrice" column="goodprice"/>
            <result property="goodsDetails" column="goodsDetails"/>
            <result property="goodsStock" column="goodsStock"/>
            <result property="tags" column="tags"/>
            <result property="goodsImage" column="goodsImage"/>
            <result property="isGrouding" column="isGrouding"/>
            <result property="warehouseId" column="warehouseId"/>
            <result property="goodsWeight" column="goodsWeight"/>
            <result property="shopId" column="goods.shopId"/>
            <association property="shop" javaType="cn.edu.zjut.po.Shop">
                <result property="shopId" column="shop.shopId"/>
                <result property="shopName" column="shopName"/>
                <result property="shopDescription" column="shopDescription"/>
                <association property="enterprise" javaType="cn.edu.zjut.po.Enterprise">
                    <result property="enterpriseId" column="enterprise.enterpriseId"/>
                    <result property="enterpriseName" column="enterpriseName"/>
                </association>
            </association>
        </association>
    </resultMap>

    <select id="getAllsafeGuardingRights" resultMap="safeGuardingRightsResultMap1">
<!--        select distinct o.*,og.* from safeGuardingRights o,safeGuardingRightsProgress og where og.safeGuardingRightsId=o.safeGuardingRightsId-->
            select * from safeGuardingRights
    </select>

    <select id="selectsafeGuardingRightsById" resultMap="safeGuardingRightsResultMap1" parameterType="java.lang.Integer">
<!--        select distinct o.*,og.* from safeGuardingRights o,safeGuardingRightsProgress og-->
<!--        where o.safeGuardingRightsId=#{safeGuardingRightsId} and og.safeGuardingRightsId=o.safeGuardingRightsId-->
            select * from safeGuardingRights where safeGuardingRightsId=#{safeGuardingRightsId}
    </select>

    <select id="selectsafeGuardingRights" resultMap="safeGuardingRightsResultMap1" parameterType="cn.edu.zjut.po.SafeGuardingRights">
<!--        select distinct o.*,og.* from safeGuardingRights o,safeGuardingRightsProgress og-->
        select * from safeGuardingRights
        <where>
            <if test="safeGuardingRightsId != null and safeGuardingRightsId !=''"> and safeGuardingRightsId=#{safeGuardingRightsId}</if>
            <if test="safeGuardingRightsProgress != null and safeGuardingRightsProgress !=''"> and safeGuardingRightsProgress=#{safeGuardingRightsProgress}</if>
            <if test="orderId != null and orderId !=''"> and orderId=#{orderId}</if>
            <if test="goodId != null and goodId !=''"> and goodId=#{goodId}</if>
        </where>
    </select>

    <update id="updatesafeGuardingRights" parameterType="cn.edu.zjut.po.SafeGuardingRights">
        update WeIn.safeGuardingRights
        set safeGuardingRightsProgress = #{safeGuardingRightsProgress}
        where safeGuardingRightsId = #{safeGuardingRightsId};
    </update>

    <select id="getsafeGuardingRightsProgressById" resultMap="safeGuardingRightsProgressResult" parameterType="java.lang.Integer">
        select * from WeIn.safeGuardingRightsProgress where safeGuardingRightsId=#{safeGuardingRightsId};
    </select>
    <insert id="addSafeGuardingRightsRecord">
        insert into safeguardingrights
        set orderId = #{orderId}, goodId = #{goodsId}, safeGuardingRightsDetails = #{descript}, safeGuardingRightsImage = #{imagePath},
        safeGuardingRightsType = #{Type}, safeGuardingRightsNum = #{goodsNum}, safeGuardingRightsProgress = #{status};
    </insert>
    <select id="selectSafeGuardingRightsByGoodIdAndOrderId" resultMap="SafeGuardingRightsMap">
        select *
        from safeguardingrights
        where goodId = #{goodId} and orderId = #{ordersId}
    </select>

    <select id="selsectAllRightsInfo" resultMap="ShowSafeGuardingRightsMap">
        select *
        from safeguardingrights, orders, goods, ordergood
        where Orders.consumerId = #{consumerId} and Orders.orderId = ordergood.orderId and ordergood.goodId = safeguardingrights.goodId
        and Orders.orderId = safeguardingrights.orderId and ordergood.goodId = goods.goodsId;
    </select>

    <update id="modfiySafeGuardingRightsById">
        update safeguardingrights
        set safeGuardingRightsProgress = #{status}
        where safeGuardingRightsId = #{rightsId}
    </update>
</mapper>
