<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.SafeGuardingRightsProgressMapper">
    <resultMap id="safeGuardingRightsProgressResultMap" type="cn.edu.zjut.po.SafeGuardingRightsProgress">
        <id property="safeGuardingRightsProgressId" column="safeGuardingRightsProgressId"/>
        <result property="safeGuardingRightsProgressStatus" column="safeGuardingRightsProgressStatus"/>
        <result property="safeGuardingRightsProgressTime" column="safeGuardingRightsProgressTime"/>
        <result property="safeGuardingRightsProgressDate" column="safeGuardingRightsProgressDate"/>
        <result property="safeGuardingRightsId" column="safeGuardingRightsId"/>
    </resultMap>


    <select id="getsafeGuardingRightsProgressById" resultMap="safeGuardingRightsProgressResultMap" parameterType="java.lang.Integer">
        select * from WeIn.safeGuardingRightsProgress where safeGuardingRightsProgressId=#{safeGuardingRightsProgressId};
    </select>

    <insert id="addsafeGuardingRightsProgress" parameterType="cn.edu.zjut.po.SafeGuardingRightsProgress">
        insert into WeIn.safeGuardingRightsProgress(safeGuardingRightsProgressStatus,safeGuardingRightsProgressTime,safeGuardingRightsProgressDate,safeGuardingRightsId)
            values(#{safeGuardingRightsProgressStatus},#{safeGuardingRightsProgressTime},#{safeGuardingRightsProgressDate},#{safeGuardingRightsId});
    </insert>

    <insert id="addSafeGuardingRightsProgress">
        insert into safeguardingrightsprogress
        set safeGuardingRightsProgressStatus = #{safeGuardingRightsProgressStatus},
        safeGuardingRightsProgressTime = #{safeGuardingRightsProgressTime},
        safeGuardingRightsProgressDate = #{safeGuardingRightsProgressDate},
        safeGuardingRightsId = #{safeGuardingRightsId};
    </insert>
</mapper>