<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.SafeGuardingRightsMapper">
    <resultMap id="SafeGuardingRightsMap" type="cn.edu.zjut.po.SafeGuardingRights">
        <id property="safeGuardingRightsId" column="safeGuardingRightsId"/>
        <result property="orderId" column="orderId"/>
        <result property="goodId" column="goodId"/>
        <result property="safeGuardingRightsDetails" column="safeGuardingRightsDetails"/>
        <result property="safeGuardingRightsImage" column="safeGuardingRightsImage"/>
        <result property="safeGuardingRightsType" column="safeGuardingRightsType"/>
        <result property="safeGuardingRightsNum" column="safeGuardingRightsNum"/>
        <result property="safeGuardingRightsProgress" column="safeGuardingRightsProgress"/>
    </resultMap>
    <insert id="addSafeGuardingRightsRecord">
        insert into safeguardingrights
        set orderId = #{orderId}, goodId = #{goodsId}, safeGuardingRightsDetails = #{descript}, safeGuardingRightsImage = #{imagePath},
        safeGuardingRightsType = #{Type}, safeGuardingRightsNum = #{goodsNum}, safeGuardingRightsProgress = #{status};
    </insert>
    <select id="selectSafeGuardingRightsByGoodId" resultMap="SafeGuardingRightsMap">
        select *
        from safeguardingrights
        where goodId = #{goodId}
    </select>
</mapper>
