<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ShopManagerMapper">

    <resultMap id="ShopManagerResultMap" type="cn.edu.zjut.po.ShopManager">
        <result property="shopId" column="shopId"/>
        <result property="shopManagerId" column="shopManagerId"/>
        <result property="shopManagerAccount" column="shopManagerAccount"/>
        <result property="shopManagerPassword" column="shopManagerPassword"/>
        <result property="shopManagerName" column="shopManagerName"/>
        <result property="idCardNumber" column="idCardNumber"/>
    </resultMap>

    <select id="getAllShopManager" resultMap="ShopManagerResultMap">
        select * from shopmanager;
    </select>

    <!--shopManagerId自增-->
    <insert id="addShopManager" parameterType="cn.edu.zjut.po.ShopManager" useGeneratedKeys="true"
            keyProperty="shopManagerId">
        insert into shopManager(shopManagerId, shopManagerAccount, shopManagerPassword, shopManagerName, idCardNumber)
        values (#{shopManagerId}, #{shopManagerAccount}, #{shopManagerPassword}, #{shopManagerName}, #{idCardNumber})
    </insert>

    <select id="getShopManagerByAccount" resultMap="ShopManagerResultMap">
        select * from shopmanager where shopManagerAccount=#{0};
    </select>
</mapper>
